@import '../colors';

:host {
  overflow-y: auto;
  padding-right: 0.5rem;
}

.grid-zone__label {
  flex: none;
  background: rgba(20, 31, 44, 0.5);
  padding: 0.625rem 0.938rem;
  color: white;
  font-size: 1.35rem;
  font-weight: 300;
  flex-flow: row nowrap;
  justify-items: start;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
:host > .grid-zone__label {
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.grid-zone__content {
  overflow-y: auto;
  padding: 1rem;
}
.grid-zone--fixed {
  overflow: hidden;
}

.grid-zone--fixed .grid-zone__content {
  flex-flow: column;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
}
.grid-zone--fixed .grid-zone__label {
  background: rgba(113, 189, 255, 0.03);
}

.grid-zone-wrap {
  background: #1d2f41;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
  overflow: hidden;
}

.grid-zone__content.maintenance-jobs {
  flex-flow: row;
  background: rgba(113, 189, 255, 0.03);
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.maintenance-jobs__actions {
  flex: 0 1 8rem;
  margin-left: 1.5em;
}
.maintenance-jobs__actions .rux-button {
  margin: auto;
}
.maintenance-jobs__list {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 17rem);
  grid-gap: 1.5rem;
  margin-left: 1.5rem;
}

.job-card {
  background: rgba(113, 189, 255, 0.1);
  padding: 1rem 1.5rem;
}
.job-card__id {
  margin-bottom: 0.2rem;
  background: rgba(113, 189, 255, 0.1);
}
.job-card__progress {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
}
.job-card__meta {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0.5rem;
}
.job-card__meta__label {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.5rem 0;
  flex: 1 1 40%;
}
.job-card__meta__value {
  flex: 1 1 60%;
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  background: rgba(23, 38, 53, 0.6);
  line-height: 1.3;
}
.job-card .rux-button {
  margin: 1.5rem auto 0.5rem;
}

.grid-zone__content.maintenance-log {
  background: rgba(113, 189, 255, 0.03);
  padding: 1rem 0.5rem 0.5rem;
}

.maintenance-log {
  display: flex;
  flex-flow: column;
  font-size: 0.9rem;
  height: 15rem;
}

.maintenance-log-header {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
}

.maintenance-log__header-labels {
  display: flex;
  flex-grow: 1;
  color: var(--logHeaderTextColor, rgb(169, 178, 188));
  font-weight: bold;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.0625);
  border-width: 1px 0;
}

.maintenance-log__events {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  min-height: 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.maintenance-log__event {
  display: flex;
  align-content: flex-start;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0.5rem;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.maintenance-log__event:last-child {
  border-bottom: none;
}

.maintenance-log__event__status {
  flex-grow: 0;
  flex-shrink: 0;
  width: 2rem;
  overflow: hidden;
  text-align: center;
  align-self: center;
}

.maintenance-log__event__name,
.maintenance-log__event__type,
.maintenance-log__event__created,
.maintenance-log__event__start,
.maintenance-log__event__stop,
.maintenance-log__event__technician,
.maintenance-log__event__description {
  flex: 0 0 15%;
  text-align: left;
  padding: 0 0.7rem;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maintenance-log__event__name {
  flex: 0 0 5rem;
}
.maintenance-log__event__type {
  flex: 0 0 5rem;
}
.maintenance-log__event__created,
.maintenance-log__event__start,
.maintenance-log__event__stop {
  flex: 0 0 8rem;
}
.maintenance-log__event__technician {
  flex: 0 0 12rem;
}
.maintenance-log__event__description {
  flex: 1 1 50%;
}
