.alert-bin-header {
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  padding: 1rem;
  padding-bottom: 1.5rem;
  background: rgba(113, 189, 255, 0.03);
}

.alert-summary {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
.alert-count {
  font-size: 2.75rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.alert-filters {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-end;
}

.alert-filter {
  margin: 0 0.5rem;
}

.alert-filter label {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
}

.alert-filter .rux-select {
  padding-right: 2rem;
  line-height: 1.5rem;
}

.alert-log {
  display: flex;
  flex-flow: column;
  font-size: 0.9rem;
  overflow: hidden;
}

.alert-log-header {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
}

.alert-log__header-labels {
  display: flex;
  flex-grow: 1;
  color: var(--logHeaderTextColor, rgb(169, 178, 188));
  font-weight: bold;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem 1.75rem 0.5rem 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.0625);
  border-width: 1px 0;
}

.alert-log__events {
  padding: 0;
  margin: 0;
  list-style: none;
  background: rgb(26, 40, 56);
}

.alert-log__header-labels .alert-log__event__select {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--colorSecondary, rgb(77, 172, 255));
  cursor: pointer;
  overflow: visible;
}

.alert-log__events {
  height: 100%;
  min-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.alert-log__event {
  display: flex;
  align-content: flex-start;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0.5rem;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.alert-log__event:last-child {
  border-bottom: none;
}

.alert-log__event__select {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  width: 4.5rem;
  overflow: hidden;
  text-align: center;
  align-self: center;
  white-space: nowrap;
}
.alert-log__event__select .rux-checkbox {
  display: inline-flex;
  margin: 0.25rem;
  width: 1.4rem;
}

.alert-log__event__status {
  text-align: center;
  align-self: center;
}

.alert-log__event__message {
  flex: 1 0 8rem;
  text-align: left;
  padding: 0 0.7rem 0 0.5rem;
  align-self: center;
}

.alert-log__event__category {
  flex: 0 1 5rem;
  text-align: left;
  align-self: center;
  text-transform: capitalize;
}

.alert-log__event__timestamp {
  flex-shrink: 0;
  text-align: left;
  width: 4.5rem;
  padding-left: 0.7rem;
  align-self: center;
}

.alert-log__filter-enabled {
  flex-grow: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  align-content: center;
  background-color: var(--colorPrimaryDarken1, rgb(0, 68, 107));
  color: var(--colorPrimaryLighten3, rgb(211, 234, 255));
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
.alert-log__filter-enabled a {
  color: var(--white, rgb(255, 255, 255));
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}
.alert-log__no-items {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  align-content: center;
  background-color: rgb(20, 31, 44);
  padding: 1.5rem;
  text-align: center;
}
.alert-log__no-items .rux-button {
  margin: 1rem auto 0;
}
.alert-log__actions {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
  box-shadow: 0 -0.5rem 1.25rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
  margin-top: auto;
  background: rgba(113, 189, 255, 0.03);
  z-index: 1;
}
.alert-log__actions .rux-button {
  margin: 0.25rem;
  min-width: 5rem;
}

@keyframes appearInList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert-log__event {
  display: flex;
  align-content: flex-start;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0.25rem 0.5rem;
  background: #1d2f41;
  border-bottom: 2px solid rgba(12, 21, 29, 0.5);
  cursor: pointer;
}

.alert-log__event.animation-active {
  animation: appearInList 0.5s ease-in-out;
  background: var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.alert-log__event:hover {
  background: rgb(40, 63, 88);
}

.alert-log__event__select {
  flex: 0 0 2rem;
  text-align: center;
  overflow: hidden;
  text-align: center;
  align-self: center;
}

.alert-log__event__select .rux-checkbox {
  display: inline-flex;
  margin: 0.25rem;
  width: 1.4rem;
  cursor: pointer;
}

.alert-log__event__status {
  flex: 0 0 2rem;
  padding-left: 0.5rem;
  overflow: hidden;
  text-align: center;
  align-self: center;

  rux-status {
    margin-left: 0;
  }
}

.alert-log__event__message {
  flex: 1 0 8rem;
  text-align: left;
  padding: 0 0.7rem;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert-log__event__category {
  flex: 0 1 5rem;
  text-align: left;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert-log__event__timestamp {
  flex-shrink: 0;
  text-align: left;
  width: 4.5rem;
  padding-left: 0.7rem;
  align-self: center;
}

.alert-log__detail {
  overflow: hidden;
  padding: 0 1rem 0 2.5rem;
  height: 0;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
  background: rgba(20, 32, 44, 0.5);
}

.alert-log__event.alert-log--expanded {
  background: var(--colorTertiary, rgb(40, 63, 88));
}

.alert-log--expanded + .alert-log__detail {
  height: auto;
  padding: 2rem 1rem 2rem 2.5rem;
}
